body {
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    outline: solid green;
 }
 .box {
   outline: 0.1px solid red;
 }
